<!-- Call to Action: Immediate help section -->
    <section class="cta">
        <div class="txtbtn">
          <span id="needtxt">Need Help Right Away?</span>
          <span id="gethelptxt"
            >If you are in danger, please get help now. Don't wait!</span
          >
          <button id="goldbtn">Get Help Now!</button>
        </div>
        <div class="profilesec">
          <i class="bx bx-user-circle"></i>
          <p>Guest</p>
          <p>|</p>
          <i class="bx bx-globe"></i>
          <p>English</p>
          <i class="bx bx-chevron-down"></i>
        </div>
      </section>