{% load static %}

<!-- Navigation Bar: Contains logo and menu items -->
<nav class="container">
    <img src="{% static 'GBVLogo.png' %}" class="logoimg" alt="logo"/>
    <div class="thecontent">
      <ul>
        <li><a href="#home" class="active">Home</a></li>
        <li><a href="#about">Report Incident</a></li>
        <li><a href="#services">Support Services</a></li>
        <li><a href="#contact">About Us</a></li>
      </ul>
    </div>
    <div class="hidecont">
      <button class="hidebtn"><b>Hide Screen</b></button>
      <i class="bx bx-low-vision"></i>
    </div>
  </nav>
